.contactos{

    &__titulo{
        color:$colorH1;
        font-size:$font-sizeH1;
        font-family:$font-familyH1;
        -webkit-text-stroke:$webkit-text-strokeH1;
        letter-spacing: 6px;
        animation-name: aparecer;
        animation-duration: 4s; 
    }

    &__img{
        width: 18rem;
        border-radius: 0.5rem;
    }

    &__form{
        color: yellow;
        letter-spacing: 1px;
    }

}

.ubicacion{

    &__titulo{
        color: darkorange;
        font-size: 4rem;
        letter-spacing: 2px;
    }

}

.mapa{
    border-radius: 1.5rem;
}

.LogosUbicacion{
    &__parrafo{
        color: rgb(207, 207, 25);
    }
}