.productos{
    background-color: black;
    &__titulo{
        color: $colorH1;
    font-size:$font-sizeH1;
    font-family:$font-familyH1;
    -webkit-text-stroke:$webkit-text-strokeH1;
    letter-spacing: 5px;
    margin-bottom: 5px;
    animation-name: aparecer;
    animation-duration: 4s; 
    }

    @keyframes aparecer{
        0%{opacity: 0;}
        100%{opacity: 1;} 
    }
}

.variedades{

    background-image: radial-gradient(darkorange,black,  black);
    
    &__CardsContainer{
        border: dashed 2px rgb(255, 251, 0);
        padding: 40px;
        border-radius: 1rem;
    }

    &__cards{
        width: 18rem;
    }

    &__cardsBody{
        background-color: rgb(58, 61, 61);
    }

    &__cardsTitle{
        color: darkorange;
        font-size: 2rem;
        text-align: center;
    }

    &__cardsText{
        color:rgb(170, 180, 180);
        text-align: center;
    }

}